.head{
	width: 100%;
	padding: 0 20px;
	border: 1px solid #eee;
	cursor: pointer;
	.kinds{
		width: 100%;
	    line-height: 50px;
	    font-size: 12px;
	    cursor: pointer;
	}
}
.active{
	color:#ff4d82;
}
.boxList{
	flex-wrap: wrap;
	display: flex;
	align-items:center;
	width: 100%;
	li{
		width: 224px;
		margin-right: 20px;
		margin-top: 20px;
	    padding: 10px;
  	    cursor: pointer;
  	    border: 1px solid #eee;
  	    border-radius: 10px;
       .imgs{
      	width: 202px;
  	    height: 202px;
	  	    img{
	  	    	width: 100%;
	  	    }
      }
      .desc{
      	font-size: 14px;
      	 color: #333;
      	 overflow: hidden;
      	 white-space:nowrap;
      	 font-weight: 600;
         margin: 10px 0 0;
      }
      .goodsName{
      	margin: 8px 0 0;
      	font-size: 14px;
      	 color: #999;
      	 overflow: hidden;
      	 white-space:nowrap;
      }
      .priceBox{
      	margin:0 5px;
         .price{
         	font-size: 20px;
     	    color: #ff527d;
     	    font-weight: 600;
     	  }
         .marketprice{
         	font-size: 14px;
     	    color: #ccc;
     	    text-decoration:line-through;
     	    font-weight: 100;
     	    margin-left: 10px;
     	    b{
              font-style: normal;
     	    }
         
         }
      }
	}
}
li:hover{
  img{
    transform: scale(1.1);
    transition: 1s
  }
}